      <div class="custom-container">
            <div class="custom-left-container">
                <h1>What's New</h1>
            </div>
    
            <!-- Swiper Slider Container -->
            <div class="swiper-container custom-right-container">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                  {% for block in section.blocks %}
                    <div class="swiper-slide custom-slide">
                        <img class="custom-image" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.heading }}">
                        <h4 class="custom-heading">{{ block.settings.heading }}</h4>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>

<style>
.custom-container {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    margin: 15px auto;
}

.custom-right-container {
    display: flex;
    column-gap: 15px;
    width: 80%;
}

.custom-left-container {
    width: 20%;
    display: flex;
    align-items: center;
    position: relative;
    background: white;
    z-index: 2;
}

.custom-left-container h1 {font-family: math;padding: 15px;width: 100%;display: flex;align-items: center;position: absolute;top: 50%;background: white;height: 435px !important;!i;!;transform: translate(0, -50%);z-index: 2;justify-content: center;height: max-content;}

.custom-slide {
    text-align: center;
}

.custom-slide img.custom-image {
    border-radius: 50%;
}

.custom-container {
    position: relative;
}
</style>

{% schema %}
  {
    "name": "VB - Custom What's New",
    "settings": [],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "label": "Select Image",
            "id": "image"
          },
          {
            "type": "text",
            "label": "Heading",
            "id": "heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "VB - Custom What's New"
      }
    ]
  }
{% endschema %}